## Create a Neural Network

### Load the data

In [1]:
import seaborn as sns
df_crashes = sns.load_dataset('car_crashes')

In [2]:
df_crashes.head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

### Feature Processing

In [3]:
explanatory = df_crashes.drop(columns=['total','abbrev'])
target = df_crashes.total
explanatory.head()

   speeding  alcohol  not_distracted  no_previous  ins_premium  ins_losses
0     7.332    5.640          18.048       15.040       784.55      145.08
1     7.421    4.525          16.290       17.014      1053.48      133.93
2     6.510    5.208          15.624       17.856       899.47      110.35
3     4.032    5.824          21.056       21.280       827.34      142.39
4     4.200    3.360          10.920       10.680       878.41      165.63

### Create a Model

1. Import libraries
2. Instantiate
3. Add layers & Compile
4. Fit
5. Evaluate
6. Predictions

In [4]:
import tensorflow as tf
tf.random.set_seed(5)
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras import initializers

In [5]:
model_tf = Sequential()

In [6]:
model_tf.add(Dense(12, input_shape=(6,), activation='relu'))
model_tf.add(Dense(8, activation='relu'))
model_tf.add(Dense(1, activation='linear'))

### Compile keras model

In [7]:
model_tf.compile(
    optimizer='adam',
    loss='mse',
    metrics=['accuracy'],)

### Fit the model

In [8]:
model_tf.fit(explanatory, target, epochs=500, batch_size=5, verbose=0)

### Evaluate Keras Model

In [9]:
model_tf.evaluate(explanatory, target)

2/2 [==============================] - 0s 7ms/step - loss: 0.7169 - accuracy: 0.0000e+00

[0.7169271111488342, 0.0]

### Predictions

In [10]:
import pandas as pd
data= model_tf.predict(explanatory)
df_pred = pd.DataFrame(data)
df_pred= df_pred.rename(columns={0: 'model_pred'})
df_pred['realvalues'] = df_crashes.total
df_pred

    model_pred  realvalues
0    18.065512        18.8
1    18.058325        18.1
2    18.797819        18.6
3    23.056623        22.4
4    12.620481        12.0
5    14.116574        13.6
6    11.099568        10.8
7    17.232267        16.2
8     6.637456         5.9
9    18.358046        17.9
10   16.054380        15.6
11   17.845938        17.5
12   15.916524        15.3
13   14.255055        12.8
14   15.349912        14.5
15   15.568631        15.7
16   16.479177        17.8
17   18.135962        21.4
18   21.480474        20.5
19   14.518254        15.1
20   13.808675        12.5
21    8.310033         8.2
22   13.129552        14.1
23   10.083600         9.6
24   16.549795        17.6
25   16.276968        16.1
26   21.452940        21.4
27   15.703084        14.9
28   16.099157        14.7
29   11.445127        11.6
30   10.375325        11.2
31   18.340651        18.4
32   11.532537        12.3
33   16.314619        16.8
34   25.022123        23.9
35   14.441419        14.1
36   20.655371        19.9
37   12.126668        12.8
38   18.547087        18.2
39   11.093282        11.1
40   23.734449        23.9
41   19.414419        19.4
42   18.377401        19.5
43   20.008947        19.4
44   11.190450        11.3
45   14.542874        13.6
46   13.055524        12.7
47   10.546086        10.6
48   23.341185        23.8
49   12.337888        13.8
50   17.402784        17.4